/* App.css */

h1 {
  text-align: center;
  margin-bottom: 50px; /* Increased padding */
  padding-top: 20px; /* New padding at the top */
}

.table-wrapper {
  width: 90%;
  max-height: 80vh; /* 80% of the viewport height */
  margin: auto;
  overflow-y: auto; /* Enable vertical scrolling */
  box-shadow: 0px 0px 10px 2px grey;
}

table {
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="text"] {
  margin: 5px;
  padding: 8px;
}
